<div class="row">
  <div class="col-sm-4 mb-3">
    <div class="iconbox-dash d-flex bg-white px-4 py-3">
      <div class="icon-cont me-4">
        <img src="../../../assets/images/dashboard-blue.png" alt="">
      </div>
      <div class="textbox-dash">
        <p>New Customers</p>
        <h3>#000</h3>
        <!-- <h3>{{dashboardData.totalPendings.newCustomer}}</h3> -->
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="iconbox-dash d-flex bg-white px-4 py-3">
      <div class="icon-cont me-4">
        <img src="../../../assets/images/dashboard-blue.png" alt="">
      </div>
      <div class="textbox-dash">
        <p>Total Orders</p>
        <h3>#000</h3>
        <!-- <h3>{{dashboardData.totalPendings.totalOrder}}</h3> -->
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="iconbox-dash d-flex bg-white px-4 py-3">
      <div class="icon-cont me-4 ">
        <img src="../../../assets/images/dashboard-blue.png" alt="">
      </div>
      <div class="textbox-dash">
        <p>Pending Orders</p>
        <h3>#000</h3>
        <!-- <h3>{{dashboardData.totalPendings.order}}</h3> -->
      </div>
    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="iconbox-dash d-flex bg-white px-4 py-3">
      <div class="icon-cont me-4">
        <img src="../../../assets/images/dashboard-blue.png" alt="">
      </div>
      <div class="textbox-dash">
        <p>Pending Pickup</p>
        <h3>#000</h3>
        <!-- <h3>{{dashboardData.totalPendings.pickup}}</h3> -->
      </div>

    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="iconbox-dash d-flex bg-white px-4 py-3">
      <div class="icon-cont me-4">
        <img src="../../../assets/images/dashboard-blue.png" alt="">
      </div>
      <div class="textbox-dash">
        <p>Pickup Request</p>
        <h3>#000</h3>
        <!-- <h3>{{dashboardData.totalPendings.pickupRequest}}</h3> -->
      </div>

    </div>
  </div>
  <div class="col-sm-4 mb-3">
    <div class="iconbox-dash d-flex bg-white px-4 py-3">
      <div class="icon-cont me-4">
        <img src="../../../assets/images/dashboard-blue.png" alt="">
      </div>
      <div class="textbox-dash">
        <p>Pending Query</p>
        <h3>#000</h3>
        <!-- <h3>{{dashboardData.totalPendings.query}}</h3> -->
      </div>
    </div>
  </div>
</div>