/* dashboard */
::placeholder {
  color: #808080 !important;
  font-weight: 300;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc !important;
  font-weight: 300;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc !important;
  font-weight: 300;
}

input {
  border-color: #d8e0e5;
  border-radius: 2px !important;
  box-shadow: none !important;
  font-weight: 300 !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f6f7fb;
}

button.btn {
  border-radius: 2px !important;
  box-shadow: none !important;
}

button.btn.btn-primary {
  background-color: #0e9aee !important;
}

button.btn.btn-primary:hover {
  background-color: #0879c8 !important;
}

.has-sub ul li a {
  height: 35px !important;
}

.has-sub ul li a img {
  margin-right: 10px;
  width: 20px;
}

#left-menu {
  position: fixed;
  top: 20px;
  left: 0;
  width: 280px;
  background-color: #ffffff;
  overflow-y: auto;
  height: 100vh;
  border-right: 1px solid #e6ecf5;
  margin-top: 60px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  z-index: 2;
}

#left-menu.small-left-menu,
#logo.small-left-menu {
  width: 60px;
}

#left-menu ul {
  padding: 0;
  margin: 0;
}

#left-menu ul li {
  padding: 0 10px;
  display: block;
  position: relative;
}

#left-menu>ul>li {
  margin: 25px 0;
}

#left-menu ul li a {
  width: 100%;
  display: flex;
  width: 260px;
  height: 45px;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  padding-left: 10px;
  justify-content: left;
  align-items: center;
  color: #808080;
}

#left-menu ul li a img {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

#left-menu ul li:hover a span {
  color: #0e9aee;
  cursor: pointer;
}

#left-menu ul li:hover a i {
  color: #0e9aee;
}

#left-menu ul li a span {
  width: 100%;
  padding-left: 10px;
  color: #808080;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

#left-menu ul li.active a {
  background: #0157a0;
  border-radius: 10px;
  width: 100%;
  color: #fff;
}

#left-menu ul li.active a span {
  color: #fff;
}

.active-icon {
  display: none;
}

#left-menu ul li.active .active-icon {
  display: inline-block;
}

#left-menu ul li.active .none-onactive {
  display: none;
}

.borderbottom a:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #dadada;
  bottom: -12px;
  left: 0;
}

.has-sub.rotate {
  background: #F8F9FB;
}

#left-menu ul li.active a i {
  background-color: #0e9aee;
  color: #fff;
}

#left-menu li.has-sub ul {
  background-color: #f8f9fb;
  margin: 0 -10px;
  padding-left: 15px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


#left-menu li.has-sub ul>li {
  padding-top: 10px;
}

a:hover {
  text-decoration: none;
}

#logo {
  position: fixed;
  top: 0;
  z-index: 2;
  left: 0;
  background-color: #ffffff;
  border-color: #464e62;
  height: 80px;
  width: 280px;
  line-height: 2em;
  border-right: 1px solid #e6ecf5;
  z-index: 4;
  color: #fff;
  padding-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
}

.big-logo img {
  width: 100px;
  margin-top: 20px;
}

#header {
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #e6ecf5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

#header .header-left {
  padding-left: 300px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#header .header-right {
  padding-right: 40px;
}

#header .header-right i,
#header .header-left i {
  font-size: 30px;
  line-height: 2em;
  padding: 0 5px;
  cursor: pointer;
}

/* header searchbox */
.calendarbox {
  padding-left: 300px;
  height: 60px;
  float: left;
  color: #151515;
}

.searchnotifybox {
  align-items: center;
  height: 60px;
}

.searchnotifybox .col-auto {
  border: solid thin #EBEBEB;
  padding: 4px;
  border-radius: 20px;
}

.searchnotifybox .col-auto .input-group input {
  border: none;
  border-radius: 30px !important;
  height: 30px;
  font-size: 14px;
}

.searchnotifybox .col-auto .input-group .input-group-text {
  border-radius: 50% !important;
  margin-left: 1px !important;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;
  padding: 0;
  background: #EFEFEF;
}

.separateborder {
  height: 40px;
  width: 2px;
  background: #808080;
}

.userprofile-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
  cursor: pointer;
}

#main-content {
  min-height: calc(100vh - 0px);
  clear: both;
}

.page-container {
  padding-left: 300px;
  padding-top: 80px;
  padding-right: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.page-container.small-left-menu,
#header .header-left.small-left-menu {
  padding-left: 80px;
}

#left-menu.small-left-menu li.has-sub::after {
  content: "";
}

#left-menu.small-left-menu li.has-sub ul {
  position: fixed;
  width: 280px;
  z-index: 123;
  height: 0;
  left: 69px;
  padding-left: 15px;
}

.left-menu-ul {
  max-height: 780px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@media only screen and (max-width: 992px) {

  #left-menu,
  #logo {
    width: 60px;
  }

  .page-container,
  #header .header-left {
    padding-left: 80px;
  }

  #toggle-left-menu,
  .big-logo {
    display: none;
  }

  /*
        #logo{
            padding: 0;
            padding-left: 3px;
        }
        .small-logo{
            display: block;
        }
    */
}

@media only screen and (min-width: 992px) {
  #left-menu li.has-sub::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url(../../../assets/images/down-arrow.png);
    cursor: pointer;
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 20px;
    width: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  #left-menu li.has-sub.rotate:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .small-logo {
    display: none;
  }
}

/*Dashboard*/

/*Search box*/
.box_searchresult {
  width: 600px;
  min-height: 92px;
  position: fixed;
  top: 45px;
  background: #fff;
  right: 0px;
  padding: 10px;
  box-shadow: 1px 2px 4px #ccc;
}

.customer-num {
  padding: 8px;
  height: 25px;
  line-height: 5px;
  font-size: 14px;
  background: #EAEAFF;
  color: #6161f3;
  border: solid thin #9ec5fe;
  border-radius: 4px;
  width: auto;
  display: inline-block;
}

.justify-space-between {
  justify-content: space-between;
}

.clr-theme {
  color: #808080;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.status-badge {
  background-color: #159900;
  padding: 4px;
  border-radius: 4px;
  display: inline-block;
}

.card {
  border-radius: 10px;
  cursor: pointer;
}


//notification

.notification {
  position: relative;
  display: inline-block;
  cursor: pointer;

  i {
    font-size: 25px;
    color: #0157a0;
  }

  .notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4d4f;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

//scroll

.scroll-container {
  position: absolute;
  top: 50px;
  /* Adjust based on your design */
  right: 30px;
  width: 300px;
  /* Adjust to fit your notification width */
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
  z-index: 1000;


  .loading {
    text-align: center;
    font-size: 12px;
    color: #999;
    padding: 10px;
  }
}

.read-class {
  background: #ebecff;
}

.unread-class {
  background: #c9cbfc;
  /* Same style, adjust as needed */
}

.cp{
  cursor: pointer;
}