.recharge {
    background-color: #f8f9fb;
    border: solid thin #0157a0;
    color: #0157a0;
    border-radius: 8px !important;
    padding: 6px 14px;
}

.add-amount {
    text-align: center;
    padding: 18px;
    background: #fff;
    border-radius: 8px;
    border: solid thin #0157a0;
}

.price {
    border: solid thin #0157a0;
    padding: 5px 25px;
    border-radius: 8px;
    background: #fff;
}

.wallet-info {
    color: #fff;
    background: #0157a0;
    border-radius: 10px;
    padding: 20px 15px;
}

.single-lefter {
    height: 100px;
}

.single-lefter span {
    height: 100px;
    width: 100px;
    background-color: #D3CB83;
    border-radius: 50%;
    text-align: CENTER;
    line-height: 100px;
    font-size: 50px;
    font-weight: 500;
    color: #A79600;
}

.name-info {
    border-right: 2px solid grey;
}

.customer-information-tabs ul li button.active {
    background-color: #0157a0 !important;
    color: #fff !important;
    border: none;
}

.customer-information-tabs ul li button {
    border-radius: 20px;
    border: solid 1px #808080;
    color: #808080 !important;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 400 !important;
}


/* From Uiverse.io by Yaya12085 */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

.btn-addemployee {
    background: #0157a0;
    color: #fff;
}