.flex-property {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    i {
      font-size: 20px;
      cursor: pointer;
    }
  }
  
  tr {
    cursor: pointer;
  }
  
  /*Table*/
  .w-5 {
    width: 5%;
  }
  
  .w-10 {
    width: 10%;
  }
  
  .w-12 {
    width: 12%;
  }
  
  .w-15 {
    width: 15%;
  }
  
  .w-20 {
    width: 20%;
  }
  
  .w-30 {
    width: 30%;
  }
  
  .w-40 {
    width: 40%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .w-60 {
    width: 60%;
  }
  
  .w-70 {
    width: 70%;
  }
  
  .w-80 {
    width: 80%;
  }
  
  .action-btn {
    width: 100%;
    border-radius: 20px;
    padding: 4px;
  }
  
  .btn-addemployee {
    background: #5D60EF;
  }
  
  .save-employe-details .btn-addemployee {
    border-radius: 5px !important;
  }
  
  .btn-addemployee:hover {
    background: #383cd7;
  }
  
  .searchbox-employee {
    border: solid thin #EBEBEB;
    border-radius: 10px;
    padding: 0px 5px 2px 0px;
  }
  
  .searchbox-employee input {
    border: none;
  }
  
  .searchbox-employee .input-group-text {
    padding: 0;
    height: 32px;
    width: 32px;
    text-align: CENTER;
    line-height: 26px;
    display: inline-block;
    margin-top: 3px;
    border-radius: 50% !important;
    background: #EFEFEF;
  }
  
  .active-btn {
    background-color: #2BB115 !important;
  }
  .In-active-btn {
    background-color: #F1BC00 !important;
  }
  
  .btn-add-employe-cont button.active-btn {
    background-color: #2BB115 !important;
    border: none;
    padding: 4px 15px;
    border-radius: 6px !important;
  }
  
  .prev-link,
  .next-link {
    background: #f9f9f9;
  }
  
  .emp-table thead tr th {
    font-weight: 400;
    color: #808080;
  }
  
  .emp-table tbody tr td {
    color: #808080;
  }
  
  .input-text-modal input {
    border-radius: 10px !important;
    height: 42px;
  }
  
  .border-t-0 {
    border-top: none;
  }
  
  .border-b-0 {
    border-bottom: none;
  }
  
  .text-theme {
    color: #6161f3;
  }
  
  .modal-header .btn-close-red {
    background-color: #fef5f5;
    border: solid thin #DE3333;
    color: #DE3333;
    border-radius: 8px !important;
    padding: 6px 14px;
  }


  .text-label-container label{
    width: 200px;
    text-align: CENTER;
    height: 38px;
    line-height: 38px;
    background: #f3f3f3;
    border: solid thin #dee2e6;
    border-right: none;
  }
  .text-label-container select{
    border-radius: 0 4px 4px 0px;
  }

  .dropdown .btn:hover {
    color: #fff;
    background-color: #157347;
    border-color: #157347;
}