
<div class="row" >
    <div class="col-sm-12">
        <a style="color: blue; text-decoration: underline; cursor: pointer;" [routerLink]="appRoute.cod.paidCod">View COD Returns</a>
    </div>
  
    <div class="col-sm-12 mt-3 mb-2">
        <table class="table table-bordered emp-table" *ngIf="!isErrorComing && codList?.length !== 0">
            <thead>
                <tr>
                    <th scope="col">S.No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">COD Amount</th>
                    <th scope="col">Pending Amount </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of codList; index as i">
                    <th scope="row">{{(i+1)}}</th>
                    <td>{{item.customerName}}</td>
                    <td>{{item.codAmount}} </td>
                    <td>
                        {{item.codAmount}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="isErrorComing" class="d-flex align-items-center justify-content-center mb-3">
        <div style=" border-radius: 10px; background-color: rgb(233, 233, 233); width: 100%; text-align: center;">
            {{this.errorMessage}}
        </div>
    </div>
</div>
