/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    background-color: #f8f9fb !important;
    color: #333 !important;
}



/* Remove spinner buttons in Chrome, Safari, and Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinner buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}